html,
body {
  height: 100%;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}
.nav-link.active {
  color: white !important;
  font-weight: bold;
  background-color: blue;
  border-radius: 10%;
}
.nav-link {
  transition: all 0.2s ease;
  border-radius: 10%;
}

.nav-link:hover {
  background-color: rgba(0, 0, 255, 0.15);
  color: blue;
}
